body {
  background-color: #a3cc88;
  font-size: 13pt;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #042727;
}
h1 h2 h3 h4 h5 h6 {
  border: 0;
  font-weight: bold;
}
a,
a:visited {
  color: #0b6549;
}
ul {
  list-style: none;
}
h1:first-of-type {
  text-align: center;
  display: block;
}
body {
  text-align: justify;
  hyphens: auto;
  padding: 0 1 em;
}
