nav {
  width: 250px auto;
  background-color: #d9c9bc;
}
.home {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home nav {
  position: unset;
  width: 250px;
  height: 100%;
  display: contents;
  text-align: center;
  line-height: 25px;
}
body {
  display: flex;
}
.nav-list {
  height: 100%;
  background: #d9c9bc;
  margin: 0%;
  padding: 2rem;
  line-height: 50px;
}
#About-Me {
  padding: 3rem;
  padding-top: 0%;
}
#info {
  text-align: center;
  padding: 3rem;
  padding-top: 0%;
}
nav li {
  display: center;
  font-size: 15px;
  padding: 20px;
}
.container {
  max-width: 50%;
}
