nav {
  width: 250px auto;
  background-color: #d9c9bc;
}
.home {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}

.home {
  background-image: url(catus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home nav {
  position: unset;
  width: 250px;
  height: 100%;
  display: contents;
  text-align: center;
  line-height: 5px;
}
#info ul {
  color: ghostwhite;
}
a:link {
  color: white;
  text-decoration: none;
}
body {
  display: flex;
  margin-left: 200px;
}
.nav-list {
  height: 100%;
  background: #358856;
  margin: 0%;
  padding: 2rem;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0%;
}
#About-Me {
  padding: 2rem;
  padding-top: 0%;
}
#info {
  text-align: center;
  padding: 25px;
  background: rgba(80, 80, 80, 0.5);
  color: ghostwhite;
}
nav li {
  display: center;
  font-size: 15px;
  padding: 20px;
}
.container {
  max-width: 50%;
  margin-left: 80px;
}
#place {
  text-align: center;
  padding: 3rem;
  padding-top: 0%;
}
.main-form {
  line-height: 30px;
  padding: 3rem;
  padding-top: 0%;
  margin-left: 80px;
}
#topcontainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.column {
  width: 100%;
}
.contact-form {
  text-align: center;
}
#photos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}
